@import '@/style/index.scss';

.record {
    background-color: color(white);
    position: relative;
    display: block;
    width: 100%;
    & + & {
        &:after {
            content: '';
            position: absolute;
            border-bottom: 1px color(grey, 2) solid;
            width: calc(100% - #{$gap * 2});
            top: 0;
            left: $gap;
            transform: scale(1, 0.5);
        }
    }
    &:hover {
        background-color: color(grey, 1);
    }
    &:active {
        background-color: color(grey, 2);
    }
}
.icon {
    width: rem(34);
    height: rem(34);
    color: color(white);
    background-color: color(grey, 4);
    border-radius: 50%;
    margin: $gap;
}
.main {
    margin-right: $gap;
}
.time {
    @include font(footnote);
    color: color(grey, 3);
    margin-right: $gap;
    > span + span {
        margin-left: rem(4);
    }
}
.timezone {
    font-size: 0.7em;
    color: color(grey, 7);
    background-color: color(grey, 2);
    padding: 0 rem(4);
    border-radius: $border-radius;
}
.amount {
    @include font(body);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.outgoing {
    color: color(grey, 8);
}
.income {
    color: color(red, 5);
}
.detail {
    @include font(callout);
    color: color(grey, 5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.currency {
    @include font(footnote);
    color: color(grey, 6);
    margin-left: $gap;
}
