@import '@/style/index.scss';

.item {
    border: 1px solid color(grey, 3);
    border-radius: $border-radius;
}

.name {
    padding-left: $gap / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
