@import '@/style/index.scss';

.popup {
    overflow: auto;
    & [data-role='popup'] {
        background-color: #fff;
        margin: 10vh auto;
        width: calc(100% - #{$gap * 4});
        box-sizing: border-box;
        border-radius: $border-radius;
        box-shadow: shadow(10);
        max-width: screen-boundary(md-lg);

        &[data-full-screen="true"] {
            width: 100%;
            margin: 0;
            min-height: 100vh;
            max-width: none;
        }
    }
    & [data-role='popup-header'] {
        padding: $gap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & [data-role='popup-title'] {
        @include font(headline);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & [data-role='popup-close'] {
        & [data-role='icon'] {
            transform: rotate(45deg);
            display: block;
        }
    }
    & [data-role='popup-content'] {
        &[data-padding='true'] {
            padding: $gap;
        }
    }
}

.appear,
.enter {
    transform: scale(0);
}
.appear-active,
.enter-active {
    transform: scale(1);
    transform-origin: top;
    transition: transform 400ms $ease-out;
}
.exit {
    transform: scale(1);
}
.exit-active {
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 400ms;
}
