@import '@/style/index.scss';

.record {
    background: color(white);
    margin: $gap * 2 auto;
    position: relative;
    z-index: z-index(2);
    box-shadow: shadow(10);
    width: calc(100% - #{$gap * 4});
    max-width: screen-boundary(sm-md);
    padding: $gap;
}
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(color(black), 0.3);
}

.icon {
}

.classify {
    @include font(subhead);
    margin-left: $gap / 2;
    color: color(grey, 3);
}

.amount {
    @include font(title-1);
    margin-top: $gap;
    margin-bottom: $gap / 4;
    word-break: break-all;
}

.currency {
    @include font(callout);
    color: color(grey, 4);
}

.timezone {
    @include font(caption-2);
    color: color(grey, 7);
    background-color: color(grey, 2);
    padding: 0 rem(4);
    border-radius: $border-radius;
    margin-left: 0.5em;
    vertical-align: middle;
}

.content {
    padding: $gap / 2;
    color: color(grey, 5);
}

.toolbar {
    margin-top: $gap / 2;
}