@import '@/style/index.scss';

.screen,
.screen-mini {
    @include font(large-title);
}
.screen {
    text-align: right;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: $gap;
    line-height: 1.2;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    height: 100%;
    width: 100%;

    & span {
        font-size: 0.7em;
        &:nth-last-child(1) {
            font-size: 1em;
        }
    }

    & [data-role='operator'] {
        color: color(yellow, 5);
        margin: 0 $gap / 4;
        &::nth-last-child(2) {
            font-size: 1em;
        }
    }
}
