@font-face {
    font-family: 'iconfont';  /* project id 1619894 */
    src: url('//at.alicdn.com/t/font_1619894_036f88vmeina.eot');
    src: url('//at.alicdn.com/t/font_1619894_036f88vmeina.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1619894_036f88vmeina.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1619894_036f88vmeina.woff') format('woff'),
    url('//at.alicdn.com/t/font_1619894_036f88vmeina.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1619894_036f88vmeina.svg#iconfont') format('svg');
  }

.icon {
    font-family: 'iconfont';
    user-select: none;
    font-size: 1.1em;
    vertical-align: -0.05em;
}
