@import '@/style/index.scss';

.classify {
    @include font(subhead);
    margin-left: $gap / 2;
    color: color(grey, 3);
}

.amount {
    @include font(title-1);
    margin-top: $gap;
    margin-bottom: $gap / 4;
    word-break: break-all;
}

.currency {
    @include font(callout);
    color: color(grey, 4);
}

.timezone {
    margin-left: 0.5em;
}

.content {
    padding: $gap / 2;
    color: color(grey, 5);
}

.toolbar {
    margin-top: $gap / 2;
}