@import '@/style/index.scss';

@keyframes loading-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120;
    }
}

.spinner {
    position: relative;
    & [data-role='loading-svg'] {
        height: 1em;
        width: 1em;
        animation: loading-rotate 2s linear infinite;
        border-radius: 50%;
    }
    & [data-role='loading-circle'] {
        animation: loading-dash 1.5s $ease-in-out infinite;
        stroke-width: 0.15em;
        stroke: color(primary, 2);
        stroke-linecap: round;
    }
}

.loading {
    padding: $gap;
    text-align: center;
    & [data-role="loading-spinner"] {
        display: block;
        font-size: rem(44);
    }
    & [data-role="loading-text"] {
        @include font(body);
        color: color(grey, 5);
    }
}
.fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(color(grey, 1), 0.6);
    z-index: z-index(2) + 1;
}

.enter {
    opacity: 0;
    transform: scale(0);
}
.enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms $ease-in, transform 400ms;
}
.exit {
    opacity: 1;
}
.exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
