@import '@/style/index.scss';

.load-more {
    padding: $gap;
    text-align: center;
    & [data-role="loading"] {
        font-size: rem(44);
    }
    & [data-role="loading-text"] {
        @include font(body);
        color: color(grey, 5);
    }
}
