@import '@/style/index.scss';

.icon {
    width: rem(34);
    height: rem(34);
    color: color(white);
    background-color: color(grey, 4);
    border-radius: 50%;
}

.amount {
    &[data-type='-1'] {
        color: color(grey, 8);
    }
    &[data-type='0'] {
        color: color(grey, 8);
    }
    &[data-type='1'] {
        color: color(red, 5);
    }
    &>[data-float="true"] {
        font-size: 0.8em;
    }
}
