@import '@/style/index.scss';

.type-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: $gap / 2;
    & > [data-role='button'] {
        width: rem(80);
        max-width: 30%;
    }
}

.amount {
    position: relative;
    margin-top: $gap / 2;
    margin-bottom: $gap / 2;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid color(grey, 5);
        transform: scaleX(1);
    }
}

.amount-screen {
    text-align: right;
}

.input-datetime {
    padding: 0;
}

.member-title {
    width: rem(150);
}

.member-option-button {
    margin-left: $gap / 2;
}
