$classify-color-map: (
    turquoise: hsl(170, 79%, 60%),
    red: hsl(7, 85%, 60%),
    yellow: hsl(41, 100%, 60%),
    green: hsl(150, 65%, 60%),
    blue: hsl(185, 70%, 60%),
    purple: hsl(284, 37%, 60%),
    grey: #000000
);
